#pre-footer {
	height: 180px;
	clear:both;
	display: block;
}

footer {
	position: fixed;
	top: 100%;
	width: 100%;
	margin-top: -90px;
    height: 90px;
    clear: both;
	background: $footer-colour;
}