// Set Grid
$columns: 20;
$column-width: 4%;
$gutter: 1%;
$padding: $gutter / 2;

$grid-width: ($column-width * $columns) + ($gutter * ($columns - 1));

// Setup Base Container
.row {
    width:$grid-width;
    margin: 0 auto;
    padding: 0 $padding 0 $padding;
    text-align: center;
}

// Define Individual Grid Classes
// Define Individual Grid Classes
@for $i from 1 to $columns
{

    // Calculate grid size in pixels
    $grid: ($column-width * $i) + ($gutter * ($i - 1));
    
    // Calculate responsive grid sizes
    // Convert Pixels to Percentages
    $grid: ($grid / $grid-width) * 100%;


    .grid#{$i}
        {
        width: $grid;
        float: left;
        margin-left: $gutter;
        text-align: center;
        }
}

.clear
{
margin-left: 0px;
clear: left;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}