// Setup Screen Sizes

$mobile-portrait: 406px;
$mobile-landscape: 481px;
$laptop: 1025px;
$large-screen: 1281px;

@function breakpoint($breakpoint) {
  @if $breakpoint == $document-width {
    @return $document-width - 1;
  }
  @if $breakpoint == $tablet-device-width {
  	@return $tablet-device-width - 1;
  }
  @if $breakpoint == $min-device-width {
  	@return $min-device-width + 1;
  }
}