// Define global defaults for Guru Web Framework
@import "includes/variables", "includes/mixins", "includes/fonts";
 
// $test = true;
// $text-color = $blue;

//----- CSS RESETS
* {
    margin:0;
    padding:0;
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box; /* Opera/IE 8+ */
}

img {
    border:0 none;
}

html {
    width:100%;
    height:100%;
    min-height:100%;
}

body {
    width: 100%;
    color: $black;
    position:relative;
    text-align: left;
    @include font-size(14px);
    line-height:1.4em;
    font-family: $font-family;
    background: $white;
}

header {
    height: 150px;
}

a {
    color:$blue;
    text-decoration: none;
    &:hover {
        color: lighten($blue, 20%);
    }
    &:visited {
        color:$blue;
    }
}

.hidden {display: none;}
  
//----- GLOBAL FONTS
  
h1 {@include font-size(24px)}
h2 {@include font-size(22px)}
h3 {@include font-size(18px)}
h4 {@include font-size(16px)}
h5 {@include font-size(12px)}
h6 {@include font-size(10px)}
label {font-size: .8em;}
p {font-size: 1em;}

.logo {
    max-width: 200px;
    height: auto;
}

@if variable-exists(test) {
    $text-color: $red;
}

 .test {
    color: $text-color;
 }


.item-pic {
    @include respond-to(mobile-portrait){
        display: none;
    }
}
 origin/master
