// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Poiret+One|Lobster|Indie+Flower|Raleway:400,500,600,700,800,900);

// Typography
$font-family: "Raleway";
$font-style-italic: italic;
$font-smoothing: antialiased;

// Font Weights;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-thin: 300;

$header-font-weight: $font-weight-thin;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Modular Scale Settings
$ms-ratio: $golden;
$ms-base: 16px 78px;
$base-font-size: ms(0);

// Font Sizes
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0);
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(7);
$stupidlybig: ms(8);
$absurd: ms(10);


// Typography Colours
$header-font-colour: #444444 !default;
$header-link-colour: #d04526 !default;
$header-link-hover-colour: #c03d20 !default;
$body-font-colour: #555555 !default;
$body-link-colour: #d04526 !default;
$body-link-hover-colour: #c03d20 !default;

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family;
	font-weight: $header-font-weight;
	color: $header-font-colour;
	text-rendering: optimizeLegibility;
	a {
		color: $header-link-color;
	}
}

h1 {
	@include font-size($xxxlarge)
}