//-----------------------------------------------------------------------
// Name:- calulateRem
// Description:- Set a REM Font Size with Pixel Fallback for old Browsers
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 11/01/2015
// Usage:- @include font-size(14px)
//-----------------------------------------------------------------------
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

//-----------------------------------------------------------------------
// Name:- keyframes
// Description:- Auto create vendor prefix lines for animation keyframes
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 11/01/2015
// Usage:- @include keyframes($animation-name)
//-----------------------------------------------------------------------
@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content
	}
	@-moz-keyframes $animation-name {
		@content
	}
	@-ms-keyframes $animation-name {
		@content
	}
	@-o-keyframes $animation-name {
		@content
	}
	@keyframes $animation-name {
		@content
	}
}

//-----------------------------------------------------------------------
// Name:- animation
// Description:- Auto create vendor prefix lines for animation
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 11/01/2015
// Usage:- @include animation($str)
//-----------------------------------------------------------------------
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

//-----------------------------------------------------------------------
// Name:- transition
// Description:- Auto create vendor prefix lines for transition
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 11/01/2015
// Usage:- @include transition($args...)
//-----------------------------------------------------------------------
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

//-----------------------------------------------------------------------
// Name:- clearfix
// Description:- Clearfix Hack for Floating Children
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 11/01/2015
// Usage:- @extend %clearfix;
//-----------------------------------------------------------------------
%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

//-----------------------------------------------------------------------
// Name:- font-size
// Description:- font-size calculates relative Font Size
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 28/01/2015
// Usage:- @include font-size($xlarge);
//-----------------------------------------------------------------------
@mixin font-size($size, $is-important: false) {
  $size: if(unitless($size), $size, $size / 1px);

  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / strip-units($base-font-size)) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / strip-units($base-font-size)) + rem;
  }
}


//-----------------------------------------------------------------------
// Name:- strip-units
// Description:- Remove units from input
//-----------------------------------------------------------------------
// Coded by:- Dave Wakely
// Last Updated:- 28/01/2015
// Usage:- strip-units($base-font-size)
//-----------------------------------------------------------------------
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}