// Define global variables for Guru Web Framework
$pageWidth: 1000px; //max width of page
$gridColumns: 20; // number of columns for our grid
$marginWidth: 0.5%; // margin width of gutters between columns
$hCenter: 0 auto;
$vCenter: auto 0;
$hvCenter: auto auto;
$baselineHeight: 1.4em;
$default-float: left;
$switch-float: right;