//
// Responsive Navbar
//-------------------

// Mobile / Tablets First
	nav {
		margin-top: -170px;
		text-align: right;
		padding: 60px 0 0 0;
		display: block;
		position: relative;
        background: $navbar-colour;

		&.fixed {
			position: fixed;
			z-index: 99999;
		}

		&.pinned {
			position: absolute;
		}

		@include respond(all-phones) {
			top: 160px;
			right: 4%;
			width: 300px;
			position: absolute;
			text-align: center;
			display: inline-block;
		}
	}

	nav ul {
    	list-style: none;
    	margin: 0 10px;
    	padding: 0;
    	vertical-align: middle;
    	float: none;

    	// Navbar Mobile Responsiveness
    	@include respond(all-phones) {
    		position: absolute;
    		display: block;
    		width: 100% !important;
    		height: auto;
    		top: 60px;
    		left: 0;
    		overflow: hidden;
    		text-align: center;
    		&.active {
    			height: auto;
    			max-height: 600px;
    			z-index: 999998;
    		}
    	}
    }

    nav li {
    	display: inline-block;
    	@include respond(all-phones) {
    		display: block;
    		position: relative;
    		min-height: 50px;
    		max-height: 320px;
    		height: auto;
    		width: 100%;
    		border-right: 0 !important;
    	}
    }

    nav a {
    	padding: 15px 10px;
    	font-size: 18px;
    	font-weight: bold;
    	text-decoration: none;
    	color: $black;
    }

    nav a:visited {
    	color: black;
    }

    nav a:hover {
    	color: green;
    }

    nav a.selected {
    	color: red;
    }

    .logo {
    	display: inline-block;
    	margin: 0 $marginWidth 0 0;
    	padding: 0;
        @include line-and-height(height-calc($larger - 3));
    	@include respond(all-phones) {
    		float: left;
    		display: block;
    		width: 400px;
    		height: auto;
    	}
    }
