//
// Responsive Navbar
//-------------------

// Mobile / Tablets First
@include mobileLandscape{

	body {
		padding-top: 0;
	}

	.navbar-fixed-top {
		position: static;
		margin-bottom: $baselineHeight;
	}

	.navbar .container {
		width: auto;
		padding: 0;
	}

	.navbar .logo {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}

	.nav-collapse {
		clear: both;
	}

	.nav-collapse .nav {
		float: none;
		margin: 0 0 $baselineHeight / 2
	}

	.nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}

	// Static Navbar
	.navbar-static .navbar-item {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@include laptop{
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}