//
// Responsive Navbar
//-------------------

// Mobile / Tablets First
	nav {
        width: 100%;
        min-height: 60px;
		display: block;
        margin-bottom: 20px;
		position: relative;
        background: $navbar-colour;
        @include respond(all-phones) {
            border: none;
            .column, .columns {
                min-height: 0;
            }
        }

		&.fixed {
			position: fixed;
			z-index: 99999;
		}

		&.pinned {
			position: absolute;
		}
        a.toggle {
            display: none;

            // Nav for Mobiles
            @include respond(all-phones) {
                top: 18%;
                right: 4%;
                width: 46px;
                position: absolute;
                text-align: center;
                display: inline-block;
                color: $navbar-link-colour;
                background: $navbar-colour;
                @include line-and-height(40px);
                @include border-radius($button-radius);
                @include font-size($larger);
                &:hover {
                    background: lighten($navbar-colour, 5%);
                }
                &:active, &.active {
                    background: darken($navbar-colour, 5%);
                }
            }
        }
	}

	nav ul {
    	list-style: none;
    	margin: 0 10px;
    	padding: 0;
    	vertical-align: middle;
    	float: none;

    	// Navbar Mobile Responsiveness
    	@include respond(all-phones) {
    		position: absolute;
    		display: block;
    		width: 100% !important;
    		height: auto;
    		top: 60px;
    		left: 0;
    		overflow: hidden;
    		text-align: center;
    		&.active {
    			height: auto;
    			max-height: 600px;
    			z-index: 999998;
    		}
    	}
    }

    nav li {
    	display: inline-block;
    	@include respond(all-phones) {
    		display: block;
    		position: relative;
    		min-height: 50px;
    		max-height: 320px;
    		height: auto;
    		width: 100%;
    		border-right: 0 !important;
    	}
    }

    nav a {
    	padding: 15px 10px;
    	font-size: 18px;
    	font-weight: bold;
    	text-decoration: none;
    	color: $black;
    }

    nav a:visited {
    	color: black;
    }

    nav a:hover {
    	color: green;
    }

    nav a.selected {
    	color: red;
    }

    .logo {
    	display: inline-block;
    	margin: 0 $marginWidth 0 0;
    	padding: 0;
        width: $logowidth;
        height: auto;
        @include line-and-height(height-calc($larger - 3));
        a {
            display: block;
            padding: 0;
            overflow: hidden;
            @include line-and-height(height-calc($larger - 3));
            img {
                max-width: $logowidth;
                height: auto;
            }
        }
    	@include respond(all-phones) {
    		float: left;
    		display: inline;
            a {
                padding: 0;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }
            }
    	}
    }

    nav ul {
        display: table;
        vertical-align: middle;
        margin: 0;
        float: none;

        // Mobile Nav Bar
        @include respond(all-phones) {
            position: absolute;
            display: block;
            width: 100% !important;
            height: 0;
            max-height: 0;
            top: 60px;
            left: 0;
            overflow: hidden;
            text-align: center;
            background: darken($navbar-colour, 5%);
            &.active {
                height: auto;
                max-height: 600px;
                z-index: 999998;
                @include box-shadow(0 2px 2px darken($navbar-colour, 15%));
            }
        }

        li {
            display: table-cell;
            text-align: center;
            padding-bottom: 0;
            margin: 0;
            @include line-and-height(height-calc($larger -3));

            // Mobile Navbar List Item
            @include respond(all-phones) {
                display: block;
                position: relative;
                min-height: 50px;
                max-height: 320px;
                height: auto;
                width: 100%;
                border-right: 0 !important;
            }

            > a {
                display: block;
                padding: 0 ms(0);
                white-space: nowrap;
                color: $navbar-link-colour;
                text-shadow: 0 1px 2px darken($navbar-colour, 20%),
                             0 1px 0 darken($navbar-colour, 20%);
                @include line-and-height(height-calc($larger - 3));
                @include font-size($norm);
                i.icon-popup {
                    position: absolute;
                }
            }
        }
